<div id="conversation-history" data-controller="conversation" data-conversation-target="history">
  <div class="w-full max-w-md border border-gray-400 rounded-md bg-white relative p-2"> 
    <!-- 閉じるボタン -->
    <div class="flex justify-end p-2">
      <button type="button" data-action="conversation#close" class=" text-gray-500 hover:text-gray-800">
      ✕
      </button>
    </div>
    <!-- 履歴スクロール部分 -->
    <div class="history-content overflow-y-auto h-full">
      <% if @messages.any? %>
        <% @messages.each do |message| %>
          <% if message.is_a?(Post) %>
            <div class="flex justify-end">
              <div class="message-item">
                <div class="w-full border-4 border-amber-400 rounded-md p-2">
                  <p><%= message.content %></p>
                </div>
                <small class="text-xs text-gray-500 flex justify-end  mb-4"><%= l message.created_at, format: :short %></small>
              </div>
            </div>
          <% elsif message.is_a?(AiResponse) %>
            <div class="flex justify-start">
              <div class="message-item">
                <div class="w-full border-4 border-cyan-400 rounded-md p-2">
                  <p><%= message.content %></p>
                </div>
                <small class="text-xs text-gray-500  mb-4"><%= l message.created_at, format: :short %></small>
              </div>
            </div>
          <% end %> 
        <% end %>
      <% else %>
        <p>まだ会話履歴はありません。</p>
      <% end %>
    </div>
  </div>
</div>