<div class="avatar-edit-form" data-controller="closable" data-closable-target="content">
  <div class="w-64 border-2 bg-amber-100 my-10 px-4 py-2 rounded-md">
    <div class="flex justify-end">
      <button type="button" data-action="closable#close" class=" text-gray-500 hover:text-gray-800">
      ✕
      </button>
    </div>
    <%= form_with model: @user, url:  update_avatar_profile_path, method: :patch do |f| %>
      <div>
        <%= f.label :avatar, class: "text-sm" %>
        <%= f.file_field :avatar, class: "text-sm" %>
      </div>
      <div class="text-center hover:text-amber-600 mt-4">
        <%= f.submit "更新" %>
      </div>
    <% end %>
  </div>
</div>