<p><%= @email %>様</p>
<p>webアプリ「じぶんLOVE〜ポジティブを育てるアプリ〜」へのご登録、ありがとうございます！</p>

<p>以下のURLよりメールアドレスの認証を完了してください。
URL有効時間は30分です。</p>

<p><%= link_to 'メールアドレスを認証する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※本メールは、自動的に配信しています。
こちらのメールは送信専用のため、直接ご返信いただいてもお問合せにはお答えできません。あらかじめご了承ください。</p>
