<p><%= @email %>様</p>
<p>メールアドレスの変更を受け付けました。</p>

<p>以下のURLよりメールアドレスの変更手続きを完了してください。
URL有効時間は30分です。</p>

<p><%= link_to 'メールアドレスを変更する', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※本メールは、自動的に配信しています。
こちらのメールは送信専用のため、直接ご返信いただいてもお問合せにはお答えできません。あらかじめご了承ください。</p>
