<div class="character-selection" data-controller="character-selection">
<!-- キャラクター表示 md:2段目 --> 
<div class="grid grid-rows-2 row-start-7 md:row-start-3 h-full">
    <div class="bg-white border border-gray-400 rounded-lg">
      <p>お気に入りのキャラクターに褒めてもらいましょう！<br>
         どんなキャラクターがいるかは、ユーザー登録をしてからのお楽しみ！
      </p>
      <%= button_to '気になる！', new_user_registration_path, class: "bg-amber-400 hover:bg-amber-600 rounded-lg" %>
    </div> 
  </div>
</div>