<footer>
  <nav class="bg-cyan-100">
    <div class="max-w-screen-xl flex flex-wrap justify-center items-center p-2">
      <div class="w-full text-center">
      <ul class = "flex text-gray-600  justify-center items-center text-xs gap-10">
      <li>
        <%= link_to "利用規約", legals_privacy_policy_path %>
      </li>
      <li>
        <%= link_to "プライバシーボリシー（準備中）", '#' %>
      </li>
      </div>
    </div>
  </nav>
</footer>