<div class="how-to-write" data-controller="closable" data-closable-target="content">
  <div class="bg-white border border-gray-400 rounded-lg m-4 p-6">
    <div class="flex justify-end">
      <button type="button" data-action="closable#close" class=" text-xs text-gray-500 hover:text-gray-800">
      ✕
      </button>
    </div>
    <h2 class="text-center font-semibold">〜書き方のヒント〜</h2>
    <br>
    <p class="text-sm">
    ＜自分の良いところが見つからない場合＞
    <br>
    <br>
    まずは、今日の行動をポジティブな言葉で書いてみましょう！<br>
    「時間通りに起きれた！」<br>
    「怪我なく過ごせた！」<br>
    何気ないことでも、ポジティブに捉えて記録していきましょう！
    <br>
    <br>
    <br> 
    ＜ネガティブな考えしか出てこない場合＞
    <br>
    <br>
    そういう時もありますよね。
    だって人間だもの。
    でも大丈夫。どんなことがありましたか？
    嫌なことを吐き出してみてください。
    ポジティブな考え方に変換できるようお手伝いをします！
    </p>
  </div>
</div>
