
  <div class="h-1/5 bg-gray-50">
    <p class="text-2xl font-bold mb-6 text-gray-400">カレンダー</p>
  </div>

  <div class="h-1/5 bg-gray-50">
    <p class="text-2xl font-bold mb-6 text-gray-400">キャラクター変更</p>
  </div>

  <div class="h-1/5 bg-gray-50">
    <p class="text-2xl font-bold mb-6 text-gray-400">書き方に困ったら</p>
  </div>

  <div class="h-1/5 bg-gray-50">
    <p class="text-2xl font-bold mb-6 text-gray-400">アプリの使い方</p>
  </div>

  <div class="h-1/5 bg-gray-50">
    <p class="text-2xl font-bold mb-6 text-gray-400">プロフィール設定</p>
  </div>