

  <div class="h-1/5 bg-amber-200 mb-1 drop-shadow-lg flex items-end px-3 py-1">
    <p class="text-xl font-bold text-gray-500">カレンダー</p>
  </div>

  <div class="h-1/5 bg-amber-100 mb-1 drop-shadow-lg flex items-end px-3 py-1">
    <p class="text-xl font-bold text-gray-500">キャラクター変更</p>
  </div>

  <div class="h-1/5 bg-amber-50 mb-1 drop-shadow-lg flex items-end px-3 py-1">
    <p class="text-xl font-bold text-gray-500">書き方に困ったら</p>
  </div>

  <div class="h-1/5 bg-cyan-50 mb-1 drop-shadow-lg flex items-end px-3 py-1">
    <p class="text-xl font-bold text-gray-500">アプリの使い方</p>
  </div>

  <div class="h-1/5 bg-cyan-200 mb-1 drop-shadow-lg flex items-end px-3 py-1">
    <p class="text-xl font-bold text-gray-500">プロフィール設定</p>
  </div>