<div class="chat-item">
  <div class="flex justify-center mt-10 mb-4 ">
    <div class="w-full max-w-md border-4 border-cyan-400 rounded-md tracking-wide text-left p-4">
      <p><%= message[:ai] %></p>
  </div>
  </div>  
</div>