<div class="container mx-auto px-4">
  <div class="flex justify-center">
    <div class="w-full max-w-lg">
      <h1 class="text-2xl font-bold mb-6 text-gray-400">今日のいいところ</h1>

    </div>
  </div>
</div>