
  <!-- menu -->
  <div class="w-1/5 p-4">
    <%= render 'menu' %>
  </div>

  <!-- chat -->
  <div class="w-3/5 p-4 overflow-y-auto">
  </div>

  <!-- リード文 -->
  <div class="w-1/5  p-4">
    <%= render 'lead' %>
  </div>
</div>