
  <!-- menu -->
  <div class="w-1/4 p-4">
    <!-- メニューなど -->
    <%= render 'menu' %>
  </div>

  <!-- chat -->
  <div class="w-1/2 p-4 overflow-y-auto">
    <!-- チャットログなど -->
   
  </div>

  <!-- リード文 -->
  <div class="w-1/4  p-4">
    <!-- SNS投稿など -->
    <%= render 'lead' %>
  </div>
</div>