<div class="mt-4 text-gray-700 space-y-2 text-center md:text-right">
  <p class="text-sm lg:text-base border-b border-gray-400 inline-block">累計ポジティブ数：<%= @total_posts_count %></p>
  <p class="text-sm lg:text-base border-b border-gray-400 inline-block">連続記録日数：<%= @consecutive_days %> 日</p>
</div>