<div class="character-display place-items-end">
  <% if defined?(user) && user.present? && user.character.present? %>
    <%= image_tag user.character.image_url, alt: user.character.name, size: "50x50"%>
  <% else %>
    <%= image_tag "characters/default.png", alt: "デフォルト", size: "50x50" %>
  <% end %>
</div>